
@font-face {
    font-family: 'NovecentowideMediumRegular';
    src: url('fonts/aller_bd-webfont.eot');
    src: url('fonts/aller_bd-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/aller_bd-webfont.woff') format('woff'),
         url('fonts/aller_bd-webfont.ttf') format('truetype'),
         url('fonts/aller_bd-webfont.svg#AllerBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AllerBoldItalic';
    src: url('fonts/aller_bdit-webfont.eot');
    src: url('fonts/aller_bdit-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/aller_bdit-webfont.woff') format('woff'),
         url('fonts/aller_bdit-webfont.ttf') format('truetype'),
         url('fonts/aller_bdit-webfont.svg#AllerBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NovecentowideBoldBold';
    src: url('fonts/novecentowide-bold-webfont.eot');
    src: url('fonts/novecentowide-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/novecentowide-bold-webfont.woff') format('woff'),
         url('fonts/novecentowide-bold-webfont.ttf') format('truetype'),
         url('fonts/novecentowide-bold-webfont.svg#NovecentowideBoldBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NovecentowideBookRegular';
    src: url('fonts/novecentowide-book-webfont.eot');
    src: url('fonts/novecentowide-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/novecentowide-book-webfont.woff') format('woff'),
         url('fonts/novecentowide-book-webfont.ttf') format('truetype'),
         url('fonts/novecentowide-book-webfont.svg#NovecentowideBookRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NovecentowideMediumRegular';
    src: url('fonts/novecentowide-medium-webfont.eot');
    src: url('fonts/novecentowide-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/novecentowide-medium-webfont.woff') format('woff'),
         url('fonts/novecentowide-medium-webfont.ttf') format('truetype'),
         url('fonts/novecentowide-medium-webfont.svg#NovecentowideMediumRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
      -ms-text-size-adjust: 100%;
      -webkit-text-size-adjust: 100%;
}

body {
      color: #6b6247;
      font-family: 'Montserrat', Arial, sans-serif;
      background: #d6ded3;
      margin: 0px;
}

button {
      overflow: visible;
}

button, select {
      text-transform: none;
}

button, input, select, textarea {
      color: #474544;
      font: inherit;
      margin: 0;
}

input {
      line-height: normal;
}

textarea {
      overflow: auto;
}

form {
      border: solid 3px #6b6247;
      padding: 37.5px;
      margin: 50px 0;
}

h1 {
      color: #6b6247;
      font-size: 40px;
      font-weight: 700;
      letter-spacing: 7px;
      text-align: center;
      text-transform: uppercase;
      text-shadow: 4px 4px 1px #c1c7b4;
}

h2, h3, h4 {
      text-align: center;
      text-shadow: 3px 3px #c1c7b4;
}
.decorator-1 {
    background: url(icons.png) left top no-repeat;
    height: 45px;
    margin: 40px auto;
    width: 154px;
}
.page-content {
      padding: 80px 0px;
      background: url(bkg-blue-noise.png) center top repeat;
      width: 100%;
}

#mc_embed_signup {
    background: transparent;
    /*font-family: 'NovecentowideBookRegular';  */
}
#mc_embed_shell {
      max-width: 800px;
      margin: 0px auto;
}
.underline {
      border-bottom: solid 2px #474544;
      margin: -0.512em auto;
      width: 80px;
}

.icon_wrapper {
      margin: 50px auto 0;
      width: 100%;
}

.icon {
      display: block;
      fill: #474544;
      height: 50px;
      margin: 0 auto;
      width: 50px;
}

.email {
	float: right;
	width: 45%;
}

input[type='text'], [type='email'], select, textarea {
	background: none;
      border: none;
	border-bottom: solid 2px #474544;
	color: #474544;
	font-size: 1.000em;
      font-weight: 400;
      letter-spacing: 1px;
	margin: 0em 0 1.875em 0;
	padding: 0 0 0.875em 0;
      text-transform: uppercase;
      width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

input[type='text']:focus, [type='email']:focus, textarea:focus {
	outline: none;
	padding: 0 0 0.875em 0;
}

      .message {
	    float: none;
}

.name {
	float: left;
	width: 45%;
}

select {
      -moz-appearance: none;
      -webkit-appearance: none;
}

select::-ms-expand {
      display: none;
}

.subject {
      width: 100%;
}

.company {
      width: 100%;
}

textarea {
	line-height: 150%;
	height: 150px;
	resize: none;
      width: 100%;
}

::-webkit-input-placeholder {
	color: #474544;
}

:-moz-placeholder { 
	color: #474544;
	opacity: 1;
}

::-moz-placeholder {
	color: #474544;
	opacity: 1;
}

:-ms-input-placeholder {
	color: #474544;
}

#form_button {
      background: none;
      border: solid 2px #474544;
      color: #474544;
      cursor: pointer;
      display: inline-block;
      font-family: 'Helvetica', Arial, sans-serif;
      font-size: 0.875em;
      font-weight: bold;
      outline: none;
      padding: 20px 35px;
      text-transform: uppercase;
      -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

#form_button:hover {
      background: #474544;
      color: #F2F3EB;
}

@media screen and (max-width: 768px) {
      #container {
            margin: 20px auto;
            width: 95%;
  }
}

@media screen and (max-width: 480px) {
      h1 {
            font-size: 26px;
      }
  
      .underline {
            width: 68px;
      }
  
      #form_button {
            padding: 15px 25px;
            }
  }

@media screen and (max-width: 420px) {
      h1 {
            font-size: 18px;
      }
  
      .icon {
            height: 35px;
            width: 35px;
      }
  
     .underline {
            width: 53px;
      }
  
      input[type='text'], [type='email'], select, textarea {
            font-size: 0.875em;
      }
}

.footer {
            font-family: 'NovecentowideMediumRegular';
            clear: both;
            font-size: 14px;
            padding-top: 40px;
            text-align: center;
            padding-bottom: 40px;
            color: #6b6247;
            line-height: 20px;
            text-transform: uppercase;
      }