@font-face {
      font-family: 'NovecentowideBoldBold';
      src: url('fonts/novecentowide-bold-webfont.eot');
      src: url('fonts/novecentowide-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/novecentowide-bold-webfont.woff') format('woff'),
         url('fonts/novecentowide-bold-webfont.ttf') format('truetype'),
         url('fonts/novecentowide-bold-webfont.svg#NovecentowideBoldBold') format('svg');
      font-weight: normal;
      font-style: normal;
}

@font-face {
      font-family: 'NovecentowideBookRegular';
      src: url('fonts/novecentowide-book-webfont.eot');
      src: url('fonts/novecentowide-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/novecentowide-book-webfont.woff') format('woff'),
         url('fonts/novecentowide-book-webfont.ttf') format('truetype'),
         url('fonts/novecentowide-book-webfont.svg#NovecentowideBookRegular') format('svg');
      font-weight: normal;
      font-style: normal;
}

@font-face {
      font-family: 'NovecentowideMediumRegular';
      src: url('fonts/novecentowide-medium-webfont.eot');
      src: url('fonts/novecentowide-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/novecentowide-medium-webfont.woff') format('woff'),
         url('fonts/novecentowide-medium-webfont.ttf') format('truetype'),
         url('fonts/novecentowide-medium-webfont.svg#NovecentowideMediumRegular') format('svg');
      font-weight: normal;
      font-style: normal;
}

html {
      -ms-text-size-adjust: 100%;
      -webkit-text-size-adjust: 100%;
}

body {
      color: #6b6247;
      font-family: 'NovecentowideMediumRegular';
      background: #d6ded3;
      margin: 0px;
}

button {
      overflow: visible;
}

button, select {
      text-transform: none;
}

button, input, select, textarea {    
      color: #6b6247;
      font: inherit;
      margin: 0;
}

input {
      line-height: normal;
}

textarea {
      overflow: auto;
}

form {
      border: solid 3px #6b6247;
      padding: 37.5px;
      margin: 0px;
}

h1 {
      color: #6b6247;
      font-size: 40px;
      font-weight: 700;
      letter-spacing: 7px;
      text-align: center;
      text-transform: uppercase;
      text-shadow: 4px 4px 1px #c1c7b4;
      max-width: 800px;
      margin: 0px auto;
}

h2, h3, h4 {
      text-align: center;
      text-shadow: 3px 3px #c1c7b4;
}
.decorator-1 {
      background: url(icons.png) left top no-repeat;
      height: 45px;
      margin: 40px auto;
      width: 154px;
}
.page-content {
      padding: 80px 0px;
      background: url(bkg-blue-noise.png) center top repeat;
      width: auto;
}

#mc_embed_signup {
    background: transparent;
    /*font-family: 'NovecentowideBookRegular';  */
}
#mc_embed_shell {
      max-width: 620px;
      margin: 0px auto;
}
.underline {
      border-bottom: solid 2px #474544;
      margin: -0.512em auto;
      width: 80px;
}

.icon_wrapper {
      margin: 50px auto 0;
      width: 100%;
}

.icon {
      display: block;
      fill: #474544;
      height: 50px;
      margin: 0 auto;
      width: 50px;
}

.email {
      float: right;
      width: 45%;
}

input[type='text'], [type='email'], select, textarea {                
      border: none !important;
      border-bottom: solid 2px #474544 !important;
      background: none;
      border-bottom: solid 2px #474544;
      color: #474544;
      font-size: 1.000em;
      font-weight: 400;
      letter-spacing: 1px;
      margin: 0em 0 1.875em 0;
      padding: 0 0 0.875em 0;
      width: 100%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      -o-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
}

input[type='text']:focus, [type='email']:focus, textarea:focus {
      outline: none;
      padding: 0 0 0.875em 0;
}

      .message {
          float: none;
}

.name {
      float: left;
      width: 45%;
}

select {
      -moz-appearance: none;
      -webkit-appearance: none;
      font-size: 14px !important;
      font-family: 'NovecentowideMediumRegular' !important;
}

      select::-ms-expand {
      display: inline-block;
      font-size: 14px !important;
      font-family: 'NovecentowideMediumRegular' !important;
}
      
.subject {
      width: 100%;
}

.company {
      width: 100%;
}

textarea {
      line-height: 150%;
      height: 150px;
      resize: none;
      width: 100%;
}

::-webkit-input-placeholder {
      color: #474544;
}

:-moz-placeholder { 
      color: #474544;
      opacity: 1;
}

::-moz-placeholder {
      color: #474544;
      opacity: 1;
}

:-ms-input-placeholder {
      color: #474544;
}

#form_button {
      background: none;
      mccolor: #474544;
      cursor: pointer;
      display: inline-block;
      font-family: 'Helvetica', Arial, sans-serif;
      font-size: 0.5em;
      font-weight: bold;
      outline: none;
      padding-left: 6px;
      padding-right: 6px;
      padding-bottom: 10px;
      padding-top: 10px;
      text-transform: uppercase;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      text-align: center;
}

.footer {
      font-family: 'NovecentowideBookRegular';
      clear: both;
      font-size: 14px;
      text-align: center;
      color: #6b6247;
      line-height: 20px;
      text-transform: uppercase;
      padding-bottom: 100px;
}
.share-buttons a {
      background: url(icons.png) no-repeat;
      display: inline-block;
      height: 49px;
  margin-right: 20px;
  width: 150px;
  text-align: center;

  &:hover { opacity: 0.8; }
}

a.linkedin {
  background-position: -678px -439px;
}

a.twitter {
  background-position: -510px -439px;
}

a.fb {
      background-position: -342px -439px; 
}

.vetted-by {
      left: 0px;
      top: 0px;
      margin: 0px;
      z-index: 3000;
      padding: 15px;
      font-size: 21px;
      position: fixed;
      text-align: center;
      background: #ECF2D8;
      list-style-type: none;
      border: 2px solid #696446;
      border-bottom-width: 2px;
      border-bottom-style: solid;
      border-bottom-color: rgb(105, 100, 70);
      border-left-width: 2px;
      border-left-style: solid;
      border-left-color: rgb(105, 100, 70);
      border-left: 0px none;
      border-bottom: 0px none;
      text-shadow: 3px 3px #c1c7b4;
      font-family: 'NovecentowideBoldBold';
}

.deskContent {
      width: 100%;
      background-repeat: no-repeat;
      background-size: contain; 
}

@media (max-width: 999px) {
      .vetted-by { display: none;  }
      
      select {
            -moz-appearance: none;
            -webkit-appearance: none;
            font-size: 12px !important;
            font-family: 'NovecentowideMediumRegular' !important;
      }

      select::-ms-expand {
            display: inline-block;
            font-size: 12px !important;
            font-family: 'NovecentowideMediumRegular' !important;
      }
}

@media screen and (max-width: 760px) {
      .page-content { padding: 50px 15px; }
      h1 { font-size: 25px; }

      .decorator-1 {
            margin: 10px auto;
            scale: 0.6;
      }
      h2 { font-size: 18px; }

      h3 { font-size: 16px; }

      .deskContent { display: none; }

      .footer { padding-bottom: 30px; }

      input[type='text'], [type='email'], select, textarea { font-size: 0.65em; }

      select {
            -moz-appearance: none;
            -webkit-appearance: none;
            font-size: 9px !important;
            font-family: 'NovecentowideMediumRegular' !important;
      }

      select::-ms-expand {
            display: inline-block;
            font-size: 9px !important;
            font-family: 'NovecentowideMediumRegular' !important;
      }
}

@media screen and (max-width: 480x) {
      .underline { width: 68px; }
  
      #form_button { padding: 15px 25px; }
      input[type='text'], [type='email'], select, textarea { font-size: 0.65em; }

      select {
            -moz-appearance: none;
            -webkit-appearance: none;
            font-size: 7px !important;
            font-family: 'NovecentowideMediumRegular' !important;
      }

      select::-ms-expand {
            display: inline-block;
            font-size: 7px !important;
            font-family: 'NovecentowideMediumRegular' !important;
      }
}

@media screen and (max-width: 430px) {
      .icon {
            height: 35px;
            width: 35px;
      }
  
     .underline {
            width: 53px;
      }
  
      input[type='text'], [type='email'], select, textarea {    
            font-size: 0.65em;
      }

      select {
            -moz-appearance: none;
            -webkit-appearance: none;
            font-size: 6px !important;
            font-family: 'NovecentowideMediumRegular' !important;
      }

      select::-ms-expand {
            display: inline-block;
            font-size: 6px !important;
            font-family: 'NovecentowideMediumRegular' !important;
      }
}

@media screen and (max-width: 375px) {
      .icon {
            height: 35px;
            width: 35px;
      }
  
     .underline {
            width: 53px;
      }
  
      input[type='text'], [type='email'], select, textarea {    
            font-size: 0.65em;
      }

      select {
            -moz-appearance: none;
            -webkit-appearance: none;
            font-size: 5px !important;
            font-family: 'NovecentowideMediumRegular' !important;
      }

      select::-ms-expand {
            display: inline-block;
            font-size: 5px !important;
            font-family: 'NovecentowideMediumRegular' !important;
      }
}

#mc_embed_signup input.button {
      display: inline-block !important;
      font-size: 11px !important;
      font-family: 'NovecentowideMediumRegular' !important;
      padding: 0px 15px !important;
      background-color: transparent !important;
      border: solid  2px #6B6247 !important;
      cursor: pointer !important;
      color: black !important;
}

#mc_embed_signup input.button:hover {
      background: #6B6247 !important;
      color: white !important;
}
